html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-text-color: #95e1d3;
    --red-text-color: rgb(243, 129, 129);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */

.main-header {
    padding-bottom: 85px;
}

.site-logo {
    color: var(--green-text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 94px;
}

.site-navigation {
    display: flex;
    width: 490px;
    justify-content: space-between;
}

.site-navigation-item a {
    display: block;
    color: var(--green-text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.site-navigation-item a::after {
    display: block;
    content: "";
    margin-top: 12px;
    height: 3px;
    width: 0%;
    background-color: var(--red-text-color);
    visibility: hidden;
    transition: width 200ms linear 100ms;
}

.site-navigation-item a:hover,
.site-navigation-item a:hover::after {
    color: var(--red-text-color);
    visibility: visible;
    width: 100%;
}

/* Services */

.services {
    padding-bottom: 93px;
}

.title-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #333333;
}


.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.top-text {
    display: block;
    margin-bottom: 18px;
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
}

.title::after {
    display: block;
    margin: 0 auto;
    background-color: var(--red-text-color);
    width: 60px;
    height: 3px;
    content: "";
}

.services-title::after {
    margin-top: 40px;
    margin-bottom: 65px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-list-item {
    position: relative;
    display: block;
    flex: 0 0 392px;
    margin: 0;
    padding: 0;
    padding-left: 92px;
    text-align: left;
    margin-bottom: 99px;
}

.services-list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.services-list-item-title {
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.services-list-item-description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.services-list-item::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 30px;
    width: 32px;
    height: 31px;
    background-repeat: no-repeat;
}

.clock::before {
    background-image: url(../img/icons/clock.png);
    content: "";
}

.graph::before {
    background-image: url(../img/icons/graph.png);
    content: "";
}

.monitor::before {
    background-image: url(../img/icons/monitor.png);
    content: "";
}

.book::before {
    background-image: url(../img/icons/book.png);
    content: "";
}

.house::before {
    background-image: url(../img/icons/house.png);
    content: "";
}

.frame::before {
    background-image: url(../img/icons/frame.png);
    content: "";
}

/* Team */

.about-team {
    margin: 0 auto;
    margin-bottom: 96px;
    max-width: 980px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.team-title::after {
    margin-top: 40px;
    margin-bottom: 44px;
}

.team-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.team:after {
    margin-bottom: 82px;
    background-color: rgb(229, 229, 229);
    width: 1200px;
    height: 1px;
    content: '';
    display: block;
    margin: 0 auto;
}

.team-member {
    width: 380px;
    text-align: center;
}

.team-member-name {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.team-member-position {
    margin-bottom: 82px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.card-wrapper {
    position: relative;
    margin-bottom: 28px;
    width: 380px;
    height: 470px;
    background-color: var(--green-text-color);
}

.member-photo {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, left;
    transition-duration: 200ms, 200ms;
    transition-timing-function: linear;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: 0;
    visibility: hidden;
    transition-property: top, left, opacity;
    transition-duration: 200ms, 200ms, 200ms;
    transition-timing-function: linear;
}

.social-list {
    display: flex;
    position: absolute;
    width: 224px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.social-list-item {
    background-color: rgb(252, 227, 138);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms linear 200ms;
}

.social-item-link {
    display: block;
    width: 55px;
    height: 56px;
}

.facebook {
    background-image: url("../img/social-item/facebook.png");
}

.twitter {
    background-image: url("../img/social-item/twitter.png");
}

.pinterest {
    background-image: url("../img/social-item/pinterest.png");
}

.instagram {
    background-image: url("../img/social-item/instagram.png");
}

.card-wrapper:hover .overlay {
    top: -10px;
    left: -10px;
    opacity: 1;
    visibility: visible;
}

.card-wrapper:hover .member-photo {
    top: -10px;
    left: -10px;
}

.social-list-item:hover {
    background-color: var(--green-text-color);
}

/* Footer */

.footer {
    display: flex;
    min-height: 62px;
    justify-content: space-between;
    align-items: center;
}

.footer-information {
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgb(51, 51, 51);
}

.footer-developer {
    color: var(--red-text-color);
    cursor: pointer;
}

.first-input {
    width: 230px;
    height: 40px;
    border: 1px solid rgb(231, 231, 231);
    text-indent: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgb(51, 51, 51);
    outline: none;
}

.first-input::placeholder {
    color: #cccccc;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

.second-input {
    margin-left: -5px;
    height: 40px;
    width: 150px;
    background: var(--green-text-color);
    color: white;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}