@media (min-width:748px) {
    .container {
        width: 46.75rem;
        margin: 0 auto;
    }

    .page-header {
        background-image: url(../img/tablet-background.jpg);
        padding-bottom: 14.625rem;
    }

    .header-button {
        padding: 0;
        margin: 0;
    }

    .page-navigation {
        display: flex;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 7.5rem;
        width: 41.875rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
    }

    .header-content {
        margin: 0 auto;
        padding: 0 7.5rem;
    }

    .header-title {
        margin: 0;
        margin-bottom: 2rem;
        font-size: 3.25rem;
        text-transform: uppercase;
    }

    .header-title-text {
        font-size: 1.5rem;
        margin-bottom: 2.375rem;
    }

    .meet-partner {
        padding-bottom: 2.5rem;
    }

    .meet-partner-title {
        margin-bottom: 2.1875rem;
    }

    .partner-list {
        display: flex;
        padding-bottom: 2.5rem;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30.75rem;
        margin: 0 auto;
        text-align: center;
    }

    .partner-list-item-second {
        order: 1;
    }

    .partner-list-item-fourth {
        order: 2;
    }

    .partner-list-item {
        width: 14.375rem;
    }

    .partner-list-item {
        margin-bottom: 0;
    }

    .partner-list-item:not(:nth-last-child(1)) {
        margin-bottom: 0;
    }

    .partner-list-item:not(:nth-child(2n)) {
        margin-bottom: 3.625rem;
    }

    .partner-name {
        margin-bottom: 1.25rem;
    }
}

    @media (min-width:940px) {
        .container {
            width: 58.75rem;
            margin: 0 auto;
        }

        .page-navigation {
            width: 58.75rem;
        }

        .page-header {
            background-image: url(../img/desktop-background.jpg);
        }

        .partner-list-item:not(:nth-child(2n)) {
            margin-bottom: 0rem;
        } 
       
        .partner-list {
            width: 58.75rem;
        }
    }