html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}


/* Site-navigation */
.page-header {
    padding-top: 42px;
    padding-bottom: 36px;
}

.site-logo {
    float: left;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.site-navigation {
    float: right;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    list-style: none;
    font-family: Open Sans, sans-serif;
    color: #0f0101;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.28px;
}

.site-navigation a {
    display: block;
    color: #0f0101;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 11px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.site-navigation-item {
    float: left;
    margin-right: 32px;
}

.site-navigation li:nth-last-of-type(1) {
    margin-right: 0;
}

/* Slider */

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: rgb(50, 50, 50);
}

.slider::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    z-index: 2;
}

.slider-image {
    width: 100%;
    height: 600px;
}

.slider-text {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 738px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Roboto, serif;
    text-transform: uppercase;
    z-index: 4;
}

.slider-title {
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

.slider-title-info {
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -0.48px;
}

.slider-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.slider-button {
    display: block;
    width: 104px;
    height: 104px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(26, 188, 156);
    cursor: pointer;
}

.slider-button:hover,
.slider-button:focus {
    background-color: rgba(26, 188, 156, 0.651);
}
  
.slider-button-prev {
    float: left;
    background-image: url("../img/slider/button-prev.png");
}

.slider-button-next {
    float: right;
    background-image: url("../img/slider/button-next.png");
}

/* New collection section */

.new-collection {
    background-color: #e9f0fd;
}

.section-title {
    margin: 0;
    padding: 96px 0px 80px 0px;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.96px;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
}

.section-title::after {
    display: block;
    margin: 32px auto 0 auto;
    width: 166px;
    height: 8px;
    background-color: #1abc9c;
    content: '';
}

.product-list {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

.info-card {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    color: #ffffff;
    background-color: #323232;
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.name {
    float: left;
    width: 201px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-indent: 14px;
}

.price {
    float: left;
    width: 54px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .439);
}

.name-product-link {
    color: #ffffff;
}

.product-list-item {
    position: relative;
    float: left;
    margin-right: 30px;
    width: 255px;
}

.product-list-item:nth-last-child(1) {
    margin-right: 0;
}

.product-list-item:hover .info-card {
    background: #1abc9c;
    color: #ffffff;
}

.image-and-overlay {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.549);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    border: 10px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
  }

.product-list-item:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay-card-button {
    position: absolute;
    width: 164px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-card-button-item {
    float: left;
    margin-right: 10px;
}

.overlay-card-button-item:nth-last-child(2) {
    margin-right: 0;
}

.overlay-card-button-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.overlay-card-button-link {
    display: block;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-card-button-link:hover {
    background-color: rgb(26, 188, 156);
}

.heart {
    background-image: url("../img/new_collection/card_button/heart.png");
}

.arrow {
    background-image: url("../img/new_collection/card_button/arrow.png");
}

.time {
    background-image: url("../img/new_collection/card_button/time.png");
}

.busket {
    display: block;
    margin: 0;
    width: 164px;
    height: 48px;
    background-image: url("../img/new_collection/card_button/basket.png");
    background-position: 10px;
    padding: 9px 18px 9px 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.28px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(50, 50, 50);
}

.page-footer {
    width: 100%;
    background-color: #323232;
    text-align: center;
}

/* Footer */

.footer-text {
    display: inline-block;
    padding: 30px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.32px;
    color: #fefefe;
}

.footer-text-link {
    color: #46bfa9;
    cursor: pointer;
}