$main-green-color: #95e1d3;
$main-red-color: rgb(243, 129, 129);
$yellow-text-color: #fce38a;
$white-color: #ffffff;

$first-font-family: 'Kaushan Script', cursive;
$second-font-family: 'Montserrat', sans-serif;
$third-font-family: 'Roboto', sans-serif;